html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #f42098;
    
}

body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    font: 12px/1.55 Verdana, helvetica, sans-serif;
    color: #818181;
    text-align: center;
    background-color: #ffffff;
}

header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
}

div{
    margin: 0 auto;
    padding: 0;
    display: block;
    
}

/* main logo left of top nav bar */

.headder-wrapper{
    text-align: left;
    width: 100%;
    background-color: #ffffff;
    
    
}

.header-container{
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 120rem;
    background: none repeat scroll;
    
}

.header-left{
    margin: 1.5rem 0 0;
    padding: 0;
    width: 30rem;
    float: left;
    text-decoration: none;
    
}

.header-right{
    margin: 0;
    padding: 0;
    width: 51rem;
    float: right;
    
}

.links{
    display: block;
    margin: 1rem 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    
}

.links > li{
    margin: 0 0 .3rem 0;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

#search{
    display: none;
    width: 100%;
   
}

ul > li > form{
    margin: 0;
    width: 100%;
    overflow: hidden;
    padding: 0.6rem 0 0 0;
    
}

.xs-b{
    margin: 0;
    background-color: #6c5b79;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: sans;
    text-transform: uppercase;
    width: 15.2rem;
    text-align: center;
    height: 3.5rem;
    line-height: 3.5rem;
    
}

a{
    color: #ffffff;
    
}

#ph-number{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #ea3896;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background: none;
    padding-right: 0;
    
        
}

.nav-wrapper{
    background: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4.2rem;

}

.nav-container{
    margin: 0 auto;
    padding: 0;
    height: 4.2rem;
    text-align: left;
    width: 120rem;
    background-color: #f42098;
    
}

.nav{
    margin: 0;
    padding: 0;
    position: relative;
    height: 4rem;
    list-style: none;
    display: block;
    
}

.nav-bar{
    margin-left: 0;
    text-align: left;
    float: left;
    padding: 1.3rem 1.5rem;
    
    
}