html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #f42098;
    
}

body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    font: 12px/1.55 Verdana, helvetica, sans-serif;
    color: #818181;
    text-align: center;
    background-color: #ffffff;
}

header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
}

div{
    margin: 0 auto;
    padding: 0;
    display: block;
    
}

/* main logo left of top nav bar */

.headder-wrapper{
    text-align: left;
    width: 100%;
    background-color: #ffffff;
    
    
}

.header-container{
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 120rem;
    background: none repeat scroll;
    
}

.header-left{
    margin: 1.5rem 0 0;
    padding: 0;
    width: 30rem;
    float: left;
    text-decoration: none;
    
}

.header-right{
    margin: 0 auto;
    padding: 0;
    width: 50.25rem;
    float: right;
    
}

.links{
    display: block;
    margin: 0.9rem 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    
}

.link > li{
    margin: 0 0 0.3rem 0;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    
}

.sb-b{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    float: none;
    display: inline-block;
    vertical-align: middle;
    
}

